doctype html
html
    head
        title="Аукцион"
        script
            include ../node_modules/jquery/dist/jquery.js
            include ../public/js/jquery-3.3.1.min.js
            include ../public/js/jquery-ui.min.js
    body
        block content